@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>Поле темы или поле сообщения или поле тега не было заполнено!</h1>
        @Html.ActionLink("Вернуться в профиль", "Manage", "Account")
    </div>
</body>
</html>
