@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BlogHomePage</title>
</head>
<body>
    <div>
        <aside style="left:auto">
          <h2><p>Теги</p></h2>
          <p>#Спорт</p>
          <p>#Музыка</p>
          <p>#Хобби</p>
          <p>#Новости</p>
          <p>#Политика</p> 
          <p>#Власть</p> 
        </aside>
        <div>
            <article><p>записи блогеров</p> </article>
            <article><p>записи блогеров2222222</p> </article>
        </div>
    </div>
</body>
</html>
