@{
    ViewBag.Title = "Home";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BlogHomePage</title>
</head>
<body>
    <div>
        <article>Здесь записи блогеров</article>
    </div>

    <div>

        <aside>

            Здесь боковая панель с тегами

        </aside>

    </div>

</body>
</html>
