@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BlogHomePage</title>
</head>
<body>
    <div class="Tags" style="float: left; background: #ffd800; width: 10%; border: dashed 5px; padding: 10px; height:500px; overflow:hidden">
          <h2>Теги</h2>
          <p>#Спорт</p>
          <p>#Музыка</p>
          <p>#Хобби</p>
          <p>#Новости</p>
          <p>#Политика</p> 
          <p>#Власть</p> 
    </div>


    <div class="Photo" style="float: left; text-align: center; width: 25%; border: solid 5px; margin: 5px; overflow-y: scroll; max-height: 500px">
        <h3>Последние фотографии</h3>
        <p></p>тут будут фотографии
        <p></p>тут будут фотографии
        <p></p>тут будут фотографии
        <p></p>тут будут фотографии
        <p></p>тут будут фотографии
    </div>
    

    <div class="BlogData" style="float: left; text-align: center; width: 55%; border: dashed 5px; margin: 5px; overflow-y: scroll; padding-left: 10px; padding-right: 10px; max-height: 500px">
        <h3 style="color:green">Последние записи блоггеров:</h3>
        <p></p>
        @{
            for (int i = 0; i < 30; i++)
            {
        <div style="border:solid 1px">
        <h4>@ViewBag.text</h4>
        @ViewBag.text
        </div>
            }            
        }




    </div>



</body>
</html>
