@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BlogHomePage</title>
</head>
<body>
    <div class="Tags">
        <aside style="left:auto">
          <h2><p>Теги</p></h2>
          <p>#Спорт</p>
          <p>#Музыка</p>
          <p>#Хобби</p>
          <p>#Новости</p>
          <p>#Политика</p> 
          <p>#Власть</p> 
        </aside>
    </div>

    <div class="Photo">
      Тут будут фотографии 
    </div>

    <div class="BlogData">
        <article><p>записи блогеров</p> </article>
    </div>

</body>
</html>
