@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Правила</title>
</head>
<body>
    <div>
        <h1>Правила Блога</h1>
        <ol>
            <li>Нельзя выдавать себя за другого человека. Например, нельзя открыть профиль от имени известных людей. Так же, нельзя открыть профиль от имени известных фирм и компаний.</li>
            <li>Нельзя публиковать частную и конфиденциальную информацию о других людях и компаниях. Например, паспортные данные, почтовые адреса, номера кредитных карт и тому подобное.</li>
            <li>Нельзя записях призывать к незаконным действиям, угрожать другим, шантажировать, пугать расправой и призывать насилию, например, нельзя всех призывать поднять революцию.</li>
            <li>Нельзя нарушать авторские права</li>
            <li>Нельзя публиковать вредоносный код, и ссылаться на те сайты, которые распространяют вирусное ПО.</li>
            <li>Нельзя использовать порнографические фотографии, фотографии, на которых изображено насилие, в качестве фотографии профиля, а также публиковать такого рода фотографий.</li>
        </ol>

        Администрация сайта оставляет за собой право немедленно заблокировать или приостановить действие Вашего профиля, если заподозрит Вас в нарушении правил, и не обязана Вам об этом сообщать или предупреждать.

    </div>
</body>
</html>
