@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>Ошибка добавления пользователя. Такой пользователь уже существует</h1>
        @Html.ActionLink("На главную", "Index", "Home")
    </div>
</body>
</html>
