@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <div>
        @Html.ActionLink("Главная страница", "Index", "Home")
    </div>

    <div>
        <h1 style="text-align:center"> @User.Identity.Name , добро пожаловать в комнату управления! </h1> 
    </div>


    <div class="AddRecord" style="border: solid 1px; padding: 10px; text-align:center">
        <form action="/Home/Index" method="post" enctype="multipart/form-data">
            <h4 style="text-align:center">Добавить новую запись:</h4>

            <input type="text" placeholder="Тема сообщения" name="title" />
            <p></p>
            <textarea name="textarea" placeholder="Текст сообщения"></textarea>
            <p></p>
            <input type="text" placeholder="Тег" name="tag" />
            <p></p>
            Загрузить jpeg картинку <input type="file" name="uplfile" />
            <p></p>
            <input type="submit" name="AddREcord" value="Отправить мою заметку" />
        </form>
    </div>



    <p></p>


    <div>
       Редактировать записи:
    </div>

    <p></p>


    <div>
        Изменить данные о себе:
    </div>

    <p></p>

    <div>
        Изменить аватар:
    </div>

    <p></p>

    <div>
       @Html.ActionLink("Сменить пароль", "ChangePassword", "Account")
    </div>

</body>
</html>
