@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>Вы успешно зарегистрировались. Теперь можете зайти под своей учетной записью!</h1>
        @Html.ActionLink("Залогиниться", "Manage", "Account")
    </div>
</body>
</html>
